{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load i18n %}
{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% for post in page.get_children %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
        {{ post.specific.intro_en }}
        {{ post.specific.body_en|richtext }}

        {{ post.specific.intro_id }}
        {{ post.specific.body_id|richtext }}
    {% endfor %}

{% endblock %}